body {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
}

h1 {
  font-size: 4.4rem;
  line-height: 5.3rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
