:root {
  // COLORS
  --color-black: #231f10;
  --color-white: #fff;

  --color-grey-1: #f5f6f6;
  --color-grey-2: #e2e2e5;
  --color-grey-3: #c7c7cc;
  --color-grey-4: #8d8e93;
  --color-grey-5: #6c6d72;

  --color-gold-1: #f3e5d0;
  --color-gold-2: #e8cca3;
  --color-gold-3: #e4c291;
  --color-gold-4: #dfb57b;
  --color-gold-5: #cba36c;

  --color-green-1: #abfce5;
  --color-green-2: #8fe4ca;
  --color-green-3: #34bc93;
  --color-green-4: #239472;
  --color-green-5: #21735b;

  --color-yellow-orange-1: #fbd826;
  --color-yellow-orange-2: #f4a81b;
  --color-yellow-orange-3: #ee8221;

  --color-pink-red-1: #f7b1aa;
  --color-pink-red-2: #e53b51;
  --color-pink-red-3: #e02425;

  --color-orange-red-1: #ea5c3a;
  --color-orange-red-2: #e74a26;
  --color-orange-red-3: #d44126;

  --color-red-brown-1: #ea5c3a;
  --color-red-brown-2: #d05e26;
  --color-red-brown-3: #993920;

  --color-orange-brown-1: #dc9743;
  --color-orange-brown-2: #d98828;
  --color-orange-brown-3: #b16532;

  // TEXT/BOX-SHADOW
  --shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --shadow-2: 0px 1px 8px rgba(0, 0, 0, 0.1);
  --shadow-3: 0px 3px 14px rgba(0, 0, 0, 0.07);

  // BORDER-RADIUS
  --border-radius: 2px;

  /*
Canela alternatives:
- Gilda Display
- Lora
- Spectral

Styrene B alternatives:
- Nunito Sans
*/

  // FONT VARIABLES
  --font-primary: 'Canela', 'Gilda Display', serif;
  --font-secondary: 'Styrene B', 'Nunito Sans', sans-serif;

  // GRID

  // GRADIENT
}

// RESPONSIVE BREAKPOINTS
$bp-xl: 1210px;
$bp-l: 980px;
$bp-m: 800px;
