//////////////////////////////////////////////////////
// FEATURES
.features {
  grid-template-columns: 1fr 3rem 2.2fr 54rem 2.2fr 3rem 1fr;
  column-gap: 2rem;
  grid-template-rows: 10rem repeat(3, 11rem);
  row-gap: 2.5rem;
  display: grid;
  height: 54rem;

  h2 {
    grid-column: 2 / span 5;
    background-color: var(--color-white);
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature {
    transform: translateY(-5rem);

    &--video {
      grid-column: 4 / span 1;
    }

    &--1 {
      grid-column: 3;
      grid-row: 2;
    }
    &--2 {
      grid-column: 3;
      grid-row: 3;
    }
    &--3 {
      grid-column: 3;
      grid-row: 4;
    }
    &--4 {
      grid-column: 5;
      grid-row: 2;
    }
    &--5 {
      grid-column: 5;
      grid-row: 3;
    }
    &--6 {
      grid-column: 5;
      grid-row: 4;
    }
  }
}

//////////////////////////////////////////////////////
// DOWNLOAD-APP
.download-app {
  min-height: 60rem;
  background-color: var(--color-grey-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

//////////////////////////////////////////////////////
// IDEAS
.suggestions {
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;

  h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;

    & + p {
      color: var(--color-grey-4);
      margin-bottom: 1rem;
    }
  }

  h5 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  hr {
    width: 80%;
    border: 1px solid var(--color-grey-2);
  }

  &__more {
    margin: 2rem 0;
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
    padding: 1.2rem 3rem;
    border: 1px solid var(--color-black);
    border-radius: 2.4rem;

    position: relative;
    z-index: 1;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-gold-4);
      border-radius: 2.4rem;
      opacity: 0;
      z-index: -1;
      transition: opacity 350ms;
    }
  }
}

.suggestion__list {
  list-style: none;
  display: flex;
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
}

.suggestion__item {
  margin: 0 1rem;

  a {
    color: var(--color-black);
    text-decoration: none;
  }

  &--news {
    a {
      figure {
        width: 26rem;

        img {
          vertical-align: middle;
        }

        figcaption {
          width: 80%;
          background-color: var(--color-white);
          margin: auto;
          padding: 1.5rem 2rem;
          transform: translateY(-50%);

          font-family: var(--font-primary);
          font-size: 1.6rem;

          span:first-child {
            font-family: var(--font-secondary);
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0.03em;
            color: var(--color-gold-4);
            display: block;
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }

  &--recipe {
    margin: 1rem 3rem;
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      display: flex;
      width: 26rem;
      justify-content: space-between;
    }
  }
}
