footer {
  display: flex;
  flex-wrap: wrap;

  h5,
  p,
  a,
  input {
    font-family: var(--font-secondary);
    color: var(--color-white);
  }

  h5 {
    font-size: 1.5rem;

    & + p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 2rem;
      margin-top: 0.2rem;
    }
  }

  section {
    flex: 1 1 50%;
    // height: 20rem;
    background-color: var(--color-black);
    padding-top: 4rem;
    padding-bottom: 5rem;

    input[type='text'] {
      border: none;
      border-bottom: 1px solid var(--color-white);
      font-size: 1.5rem;
      line-height: 2.2rem;
      background-color: transparent;
      transform: translateY(7px);
    }

    input[type='submit'] {
      background-color: var(--color-gold-3);
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding: 1rem 4rem;
      border-radius: 2.4rem;
      border: none;
      margin-left: 1.6rem;
    }

    &.newsletter {
      padding-left: 12vw;
      border-right: 1px solid var(--color-grey-5);
    }

    &.social-media {
      padding-left: 4vw;
    }

    .social-media__link {
      display: inline-block;
      width: 26rem;
      border: 1px solid var(--color-gold-3);
      border-radius: 3px;
      padding: 0.9rem 0;
      font-size: 1.5rem;
      line-height: 2.2rem;
      text-decoration: none;
      margin-right: 1.5rem;

      @media only screen and (max-width: $bp-xl) {
        margin-bottom: 1.5rem;
      }

      svg {
        transform: translate(10px, 2px);

        & + span {
          display: inline-block;
          transform: translate(15px, -5px);
        }
      }
    }
  }

  nav {
    flex: 0 0 100%;
    background-color: var(--color-grey-5);

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0.7rem 0;

      li {
        margin: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.6rem;

        a {
          color: var(--color-white);
          text-transform: uppercase;
          font-family: var(--font-secondary);
        }
      }
    }
  }
}
