.header {
  height: 62rem;

  &--home {
    background: no-repeat center url('../assets/home-cover.jpg');
  }

  .header-nav {
    padding: 2rem 0;
    display: flex;
    max-width: 110rem;
    margin: auto;

    &__list:first-child {
      flex: 1 1 auto;
      justify-content: flex-start;
    }
    &__list {
      flex: 0.5 0.5 auto;
      list-style: none;
      display: flex;
      justify-content: flex-end;

      li {
        padding-right: 3rem;
      }

      &--left {
        li {
          &:first-child {
            padding-right: 2rem;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &--right {
        li {
          padding-right: 0;
          padding-left: 2rem;
        }
      }
    }

    &__logo {
      flex: 0 0 10rem;
      // width: 10rem;
      height: 3.3rem;
      background-image: url(../assets/branding/Logo_white.png);
    }

    &__element {
      svg {
        width: 1.6rem;
        height: 1.6rem;
        path {
          fill: var(--color-white);
        }
        g {
          path {
            fill: var(--color-white);
          }
        }
      }

      a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding-bottom: 1rem;

        text-shadow: var(--shadow-3);

        &:hover,
        &.active {
          border-bottom: 2px solid var(--color-white);
        }
      }
    }

    &__notification {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-color: var(--color-white);
      transform: translateY(-3px);
      border-radius: 50%;
      font-size: 1.1rem;
      color: var(--color-gold-4);

      span {
        display: flex;
        justify-content: center;
        transform: translateY(-1px);
      }
    }
  }

  .hero {
    color: var(--color-white);
    display: flex;
    justify-content: center;
    margin-top: 15rem;

    &__title {
      width: 36rem;
      margin-right: 15vw;
      text-shadow: var(--shadow-1);
    }

    &__text {
      width: 38rem;
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 1.5rem;
        text-shadow: var(--shadow-2);
      }

      p {
        max-width: 30rem;
        margin-bottom: 1rem;
        text-shadow: var(--shadow-3);
      }
    }

    &__link {
      color: var(--color-white);
      text-shadow: var(--shadow-3);
      text-transform: uppercase;

      &--play {
        margin-bottom: 2rem;

        span {
          display: inline-block;
          transform: translateY(7px);

          svg {
            path {
              fill: var(--color-white);
            }
          }
        }
      }
    }

    &__action {
      align-self: flex-start;
      background-color: var(--color-white);
      color: var(--color-black);
      border-radius: 27px;
      text-decoration: none;
      margin: 2.5rem 0;
      line-height: 2.2rem;
      padding: 1.6rem 5rem;

      position: relative;
      z-index: 1;

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-gold-4);
        border-radius: 27px;
        opacity: 0;
        z-index: -1;
        transition: opacity 350ms;
      }
    }
  }
}
